*{
    box-sizing: border-box;
}

body{
    background-color: #dde2ef;
    margin: 0px;
    text-align: left;
    font-size: large;
}

nav{
    text-align: center;
    background-color: #3e4c67;
    width: 100%;
    top: 0;
    position:fixed;
    z-index: 1000;/*設定較高的值確保nav在圖層最上層不被覆蓋*/
}

nav a{
    color: white;
    padding: 20px 10px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover{
    background-color: #778DA9;
    color: #E0E1DD;
}

header{
    color: white;
    text-align:center;
    margin-top: 40px;
    padding: 60px;
    background-image: url(image/background/header_bg.jpg);
    background-size: cover;
}

article{
    width: 100%;
    font-family: "標楷體";
}

.profile{
    column-count: 2;
    column-gap: 0px;
    padding: 40px 150px;
    margin: 30px 100px;
    border-radius: 30px;
    background-image: url(image/background/bg1_lightblue.jpg);
    background-size:cover;
}

.skills_program{
    padding: 40px 30px;
    margin: 30px 100px;
    border-radius: 30px;
    background-image: url(image/background/bg2_blue.jpg);
    background-size:cover;
}

.skills_major{
    padding: 40px 30px;
    margin: 30px 100px 30px 0px;
    border-radius: 30px;
    background-image: url(image/background/bg1_lightblue.jpg);
    background-size:cover;
}

.skill_container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-flow: row;
    gap: 0px;
}

.progress-bar {
    width: 100%;
    background-color: white;
    height: 20px;
}

.progress {
    height: 20px;
    background-color: #3e4c67;
}

.circle_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.circle {
    width: 150px;
    height: 150px;
    background: conic-gradient(#3e4c67 calc(var(--percentage) * 1%), white 0); /* 進度條背景 */
    border-radius: 50%; /* 使其成為圓形 */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_inside {
    width: 130px;
    height: 130px;
    background-color: #d7dbe5;
    border-radius: 50%; /* 內部圓形 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.experience{
    column-count: 2;
    column-gap: 0px;
    padding: 40px 50px;
    margin: 30px 100px;
    border-radius: 30px;
    gap: 5px;
    background-image: url(image/background/bg1_lightblue.jpg);
    background-size:cover;
}

li{
    margin-bottom: 10px;
}

footer{
    background-color: #3e4c67;
    text-align: center;
    color: #d7dbe5;
    padding: 10px;
    
}

main{
    padding: 20px;
}

/*使用虛擬元素調整footer

main::after{
    content:"";
    display:block;
    clear:both;
}

*/

.clearfix{
    clear: both;
}

@media screen and (max-width:800px) {
    article{
        float: none;
        width: 100%;
    }

    .profile{
        padding: 10px;
        margin: 15px 0px;
    }

    .skill_container{
        padding: 5px;
        margin: 15px 0px;
    }

    .circle_container{
        padding: 5px;
        margin: 15px -px;
    }

    .experience{
        padding: 10px;
        margin: 15px 5px;
    }
    
    img{
        max-width: 100%;
        height: 90%;
    }
}